@tailwind base;
@tailwind components;
@tailwind utilities;

.navBackground{
  background: transparent;
  z-index: 9999 !important;
}
.navScrollBackground{
  z-index: 9999 !important;
  background: white !important;
  box-shadow: 0 0 6px 0 rgba(0,115,230,0.3) !important;
}

.main-div{
  background: linear-gradient(180deg, #D7F5DC 0%, #D7F5DC 100%) !important;
}

.states{
  box-shadow: 4px 9px 20px 0 rgba(0, 0, 0, 0.07);
}

.team{
  background: radial-gradient(50% 50% at 50% 50%, #D7F5DC 0%, rgba(255, 255, 255, 0.00) 100%);
}

.member{
  box-shadow: 0 4.4px 20px -1px rgba(19, 16, 34, 0.05);
}

.service{
  box-shadow: 1px 4px 30px 0 rgba(0, 0, 0, 0.20);
}

.all-project{
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.09);
}
